@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f9f9f9;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	width: -webkit-fill-available;
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#findIdForm button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

#findIdForm button:hover {
	background-color: #0056b3;
}

.error {
	color: red;
}

.error.hidden {
	display: none;
}

p {
	margin-top: 0px;
}