@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f4f8;
}

.container {
	text-align: center;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 800px;
}

.hidden {
	display: none;
}

.radio-label {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	border: 2px solid transparent;
	border-radius: 5px;
	border-color: silver;
	transition: border-color 0.3s;
	flex: 1 0 calc(16.65% - 10px); /* 5열 구성 */
	box-sizing: border-box;
	max-width: 122.8px; /* 최대 폭 설정 */
}

.radio-label:hover {
	border-color: #007bff;
}

.radio-label.selected {
    border-color: #007bff; /* 선택된 버튼 테두리 색 */
}

/* 라디오 버튼 숨김 */
input[type="radio"] {
	display: none;
}

h2, h3 {
	color: #333;
	text-align: left;
	margin-left: 30px;
}

#cities {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 2px solid transparent;
	border-radius: 5px;
	border-color: silver;
	margin-bottom: 20px;
}

#districts {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 2px solid transparent;
	border-radius: 5px;
	border-color: silver;
}

.search-button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.search-button:hover {
	background-color: #0056b3;
}