body {
	font-family: 'Arial', sans-serif;
	background-color: #f8d6e8;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white; /* 상단바의 배경을 흰색으로 */
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
	font-size: 24px;
	color: #ff6f61;
	font-weight: bold;
	text-decoration: none !important; /* 밑줄 제거 */
}

header .btn {
	background: none;
	border: none;
	font-size: 16px;
	color: #5c5c5c;
	cursor: pointer;
}

header .login {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}


header .login .btn {
    
   text-decoration: none; /* 밑줄 제거 */
    font-weight: bold; /* 굵은 글씨 */
    transition: color 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 추가 */
    position: relative; /* 하단 애니메이션을 위해 상대 위치 지정 */
}

header .login .btn:after {
    content: ''; /* 하단에 가상의 요소 추가 */
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3c82d9; /* 하단 밑줄 색상 */
    transition: width 0.3s ease; /* 밑줄 애니메이션 */
}

header .login .btn:hover::after {
    width: 100%; /* 호버 시 하단 밑줄이 확대 */
}

header .login .btn:hover {
    color: #ff3a85; /* 호버 시 색상 변경 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 그림자 효과 추가 */
}

header a {
    text-decoration: none; /* 밑줄 제거 */
    color: #3c82d9; /* 기본 색상 설정 */
    font-weight: bold; /* 굵은 글씨 */
    transition: color 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 추가 */
    position: relative; /* 하단 애니메이션을 위해 상대 위치 지정 */
}


header a::after {
    content: ''; /* 하단에 가상의 요소 추가 */
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3c82d9; /* 하단 밑줄 색상 */
    transition: width 0.3s ease; /* 밑줄 애니메이션 */
}

header a:hover::after {
    width: 100%; /* 호버 시 하단 밑줄이 확대 */
}

header a:hover {
    color: #ff3a85; /* 호버 시 색상 변경 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 그림자 효과 추가 */
}



.main-link {
	font-size: 1.2rem;
}


#suggestionForm {
	margin-top: 150px;
	width: 80%;
	max-width: 800px;
	background-color: #ffe0f3;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
	text-align: center;
}

h2 {
	color: #3c82d9;
	margin-bottom: 20px;
}

label {
	display: block;
	font-size: 1.2rem;
	color: #3c82d9;
	margin-top: 20px;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 8px;
	border: 2px solid #ddd;
	font-size: 1rem;
	outline: none;
}

textarea {
	resize: none;
}

#submitBtn {
	margin-top: 20px;
	padding: 12px 25px;
	background-color: #3c82d9;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 1.2rem;
	cursor: pointer;
}

#submitBtn:hover {
	background-color: #355ea9;
}