<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>EnjoyFood_Project</display-name>
	<welcome-file-list>
		<welcome-file>mainpage</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<jsp-file>/WEB-INF/view/login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<jsp-file>/WEB-INF/view/signup.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>findIdServlet</servlet-name>
		<jsp-file>/WEB-INF/view/findId.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>findIdServlet</servlet-name>
		<url-pattern>/findId</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>findPwServlet</servlet-name>
		<jsp-file>/WEB-INF/view/findPw.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>findPwServlet</servlet-name>
		<url-pattern>/findPw</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userInfoServlet</servlet-name>
		<jsp-file>/WEB-INF/view/userInfo.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>userInfoServlet</servlet-name>
		<url-pattern>/userInfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userInfoChangeServlet</servlet-name>
		<jsp-file>/WEB-INF/view/userInfoChange.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>userInfoChangeServlet</servlet-name>
		<url-pattern>/userInfoChange</url-pattern>
	</servlet-mapping>
</web-app>